<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Danh sách hóa đơn | Quản trị Admin</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Main CSS-->
    <link rel="stylesheet" type="text/css" th:href="@{/assets/css/main1.css}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/boxicons@latest/css/boxicons.min.css">
    <!-- or -->
    <link rel="stylesheet" href="https://unpkg.com/boxicons@latest/css/boxicons.min.css">

    <!-- Font-icon css-->
    <link rel="stylesheet" type="text/css"
          href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/sweetalert/2.1.2/sweetalert.min.js"></script>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-confirm/3.3.2/jquery-confirm.min.css">
    <style>
        .click-effect {
            color: #333;
            text-decoration: none;
            padding: 4px 8px;
            border-radius: 4px;
            transition: background-color 0.2s ease;
        }

        .click-effect:hover {
            background-color: #e8f0fe;
        }

        .click-effect:active {
            background-color: #cbdcf9;
        }
    </style>
</head>

<body onload="time()" class="app sidebar-mini rtl">
<!-- Navbar-->
<div th:replace="~{admin/template/header :: header}"></div>

<!-- Sidebar menu-->
<div th:replace="~{admin/template/sidebar :: sidebar}"></div>

<main class="app-content">
    <div class="app-title">
        <ul class="app-breadcrumb breadcrumb side">
            <li class="breadcrumb-item active"><a href="#"><b>Danh sách hóa đơn</b></a></li>
        </ul>
        <div id="clock"></div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="tile">
                <div class="tile-body">
                    <div class="row element-button">
                        <div class="col-sm-2">

                            <a class="btn btn-add btn-sm" th:href="@{/admin/don-hang/new}" title="Thêm"><i
                                    class="fas fa-plus"></i>
                                Tạo mới đơn hàng</a>
                        </div>
                        <div class="col-sm-2">
                            <a class="btn btn-delete btn-sm print-file" type="button" title="In"
                               onclick="myApp.printTable()"><i
                                    class="fas fa-print"></i> In dữ liệu</a>
                        </div>
                        <div class="col-sm-2">
                            <a class="btn btn-excel btn-sm" href="" title="In" onclick="exportTableToExcel()">
                                <i class="fas fa-file-excel"></i> Xuất Excel
                            </a>
                        </div>
                    </div>
                    <table class="table table-hover table-bordered" id="sampleTable">
                        <thead>
                        <tr>
                            <th width="10"><input type="checkbox" id="all"></th>
                            <th><a href="">ID</a></th>
                            <th>Khách hàng</th>
                            <th>Nhân viên</th>
                            <th>Sản phẩm</th>
                            <th>Số lượng</th>
                            <th>Ngày tạo</th>
                            <th>Số điện thoại</th>
                            <th>Tổng tiền</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:each="bill : ${bill}">
                            <th width="10"><input type="checkbox" id=""></th>
                            <td>
                                <a class="click-effect" th:href="@{/admin/don-hang/{code}(code=${bill.id})}"
                                   style="text-decoration: none; color: inherit;">
                                    <span th:text="${bill.code}"></span>
                                </a>
                            </td>
                            <td th:text="${bill.name}"></td>
                            <td th:text="${bill.employeeName}"></td>
                            <td th:text="${bill.productName}"></td>
                            <td th:text="${bill.quantity}"></td>
                            <td th:text="${#temporals.format(bill.createdDate, 'yyyy-MM-dd')}"></td>
                            <td th:text="${bill.phone}"></td>
                            <td th:text="${#numbers.formatInteger(bill.price, 0, 'COMMA')}"></td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</main>
<div class="modal fade" id="ModalUP" tabindex="-1" role="dialog" aria-hidden="true" data-backdrop="static"
     data-keyboard="false">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">

            <div class="modal-body">
                <div class="row">
                    <div class="form-group  col-md-12">
              <span class="thong-tin-thanh-toan">
                <h5>Chỉnh sửa thông tin hóa đơn</h5>
              </span>
                    </div>
                </div>
                <div class="row">
                    <div class="form-group col-md-6">
                        <label class="control-label">ID hóa đơn</label>
                        <input class="form-control" type="text" required id="edit-code" disabled>
                    </div>
                    <div class="form-group col-md-6">
                        <label class="control-label">Khách hàng</label>
                        <input class="form-control" type="text" required id="edit-name">
                    </div>
                    <div class="form-group  col-md-6">
                        <label class="control-label">Nhân viên</label>
                        <input class="form-control" type="text" required id="edit-employee" disabled>
                    </div>
                    <div class="form-group col-md-6">
                        <label class="control-label">Sản phẩm</label>
                        <select class="form-control" id="edit-product" required>
                            <option th:each="product : ${product}"
                                    th:value="${product.id}"
                                    th:text="${product.name}"
                                    th:data-price="${product.price}"
                                    th:data-quantity="${product.quantity}"></option>
                        </select>
                    </div>
                    <div class="form-group col-md-6">
                        <label class="control-label">Số lượng</label>
                        <input class="form-control" type="number" id="edit-quantity">
                    </div>
                    <div class="form-group  col-md-6">
                        <label class="control-label">Số điện thoại</label>
                        <input class="form-control" type="number" id="edit-phone">
                    </div>
                    <div class="form-group  col-md-6">
                        <label class="control-label">Địa chỉ</label>
                        <input class="form-control" type="text" id="edit-address">
                    </div>
                    <div class="form-group  col-md-6">
                        <label class="control-label">Tổng tiền</label>
                        <input class="form-control" type="text" id="edit-price" readonly>
                    </div>
                </div>
                <BR>
                <button class="btn btn-save" type="button">Lưu lại</button>
                <a class="btn btn-cancel" data-dismiss="modal" href="#">Hủy bỏ</a>
                <BR>
            </div>
            <div class="modal-footer">
            </div>
        </div>
    </div>
</div>
<!-- Essential javascripts for application to work-->
<script th:src="@{/assets/vendor/jquery/jquery-3.2.1.min.js}"></script>
<script th:src="@{/assets/js/bootstrap.min.js}"></script>
<script th:src="@{/assets/js/popper.min.js}"></script>
<!--  <script src="//ajax.googleapis.com/ajax/libs/report/1.11.1/report.min.js"></script>-->
<script th:src="@{/assets/js/main.js}"></script>
<!-- The javascript plugin to display page loading on top-->
<script th:src="@{/assets/js/plugins/pace.min.js}"></script>
<!-- Page specific javascripts-->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-confirm/3.3.2/jquery-confirm.min.js"></script>
<!-- Data table plugin-->
<script type="text/javascript" th:src="@{/assets/js/plugins/jquery.dataTables.min.js}"></script>
<script type="text/javascript" th:src="@{/assets/js/plugins/dataTables.bootstrap.min.js}"></script>
<script type="text/javascript">$('#sampleTable').DataTable();</script>
<script>
    function deleteRow(r) {
        var i = r.parentNode.parentNode.rowIndex;
        document.getElementById("myTable").deleteRow(i);
    }

    jQuery(function () {
        jQuery(".trash").click(function () {
            swal({
                title: "Cảnh báo",

                text: "Bạn có chắc chắn là muốn xóa đơn hàng này?",
                buttons: ["Hủy bỏ", "Đồng ý"],
            })
                .then((willDelete) => {
                    if (willDelete) {
                        swal("Đã xóa thành công.!", {});
                    }
                });
        });
    });
    oTable = $('#sampleTable').dataTable();
    $('#all').click(function (e) {
        $('#sampleTable tbody :checkbox').prop('checked', $(this).is(':checked'));
        e.stopImmediatePropagation();
    });

    //Thời Gian
    function time() {
        var today = new Date();
        var weekday = new Array(7);
        weekday[0] = "Chủ Nhật";
        weekday[1] = "Thứ Hai";
        weekday[2] = "Thứ Ba";
        weekday[3] = "Thứ Tư";
        weekday[4] = "Thứ Năm";
        weekday[5] = "Thứ Sáu";
        weekday[6] = "Thứ Bảy";
        var day = weekday[today.getDay()];
        var dd = today.getDate();
        var mm = today.getMonth() + 1;
        var yyyy = today.getFullYear();
        var h = today.getHours();
        var m = today.getMinutes();
        var s = today.getSeconds();
        m = checkTime(m);
        s = checkTime(s);
        nowTime = h + " giờ " + m + " phút " + s + " giây";
        if (dd < 10) {
            dd = '0' + dd
        }
        if (mm < 10) {
            mm = '0' + mm
        }
        today = day + ', ' + dd + '/' + mm + '/' + yyyy;
        tmp = '<span class="date"> ' + today + ' - ' + nowTime +
            '</span>';
        document.getElementById("clock").innerHTML = tmp;
        clocktime = setTimeout("time()", "1000", "Javascript");

        function checkTime(i) {
            if (i < 10) {
                i = "0" + i;
            }
            return i;
        }
    }

    //In dữ liệu
    var myApp = new function () {
        this.printTable = function () {
            var tab = document.getElementById('sampleTable');
            var win = window.open('', '', 'height=700,width=700');
            win.document.write(tab.outerHTML);
            win.document.close();
            win.print();
        }
    }

    //Modal
    $("#show-emp").on("click", function () {
        $("#ModalUP").modal({backdrop: false, keyboard: false})
    });
    console.log($("#ModalUP").length);

    function exportTableToExcel() {
        // Lấy tham chiếu đến bảng
        const table = document.querySelector('table'); // Thay bằng selector cụ thể nếu có nhiều bảng

        // Tạo một workbook mới
        const wb = XLSX.utils.book_new();

        // Chuyển đổi bảng HTML sang một worksheet
        const ws = XLSX.utils.table_to_sheet(table);

        // Thêm worksheet vào workbook
        XLSX.utils.book_append_sheet(wb, ws, "Danh sách hóa đơn");

        // Tạo tên file
        const fileName = "hoa_don" + new Date().toISOString().slice(0, 10) + ".xlsx";

        // Xuất file Excel
        XLSX.writeFile(wb, fileName);
    }
</script>
<!--<script>-->
<!--    let currentEmployeeId = null;-->

<!--    // Hàm load danh sách nhân viên-->
<!--    function loadBill() {-->
<!--        fetch('/api/bill/getAllBill')-->
<!--            .then(response => response.json())-->
<!--            .then(result => {-->
<!--                const bill = result.data;-->
<!--                const table = $('#sampleTable').DataTable();-->

<!--                table.clear(); // Xóa dữ liệu cũ-->

<!--                bill.forEach(employee => {-->
<!--                    const created = new Date(bill.createdDate);-->
<!--                    const formattedCreatedDate = `${created.getFullYear()}-${(created.getMonth() + 1).toString().padStart(2, '0')}-${created.getDate().toString().padStart(2, '0')}`;-->

<!--                    const row = [-->
<!--                        `<input type="checkbox">`,-->
<!--                        bill.code,-->
<!--                        bill.name,-->
<!--                        bill.employeeName,-->
<!--                        bill.productName,-->
<!--                        bill.quantity,-->
<!--                        formattedCreatedDate,-->
<!--                        bill.phone,-->
<!--                        bill.price,-->
<!--                        `-->
<!--                        <button class="btn btn-primary btn-sm trash" type="button" title="Xóa" data-id="${employee.id}" onclick="myFunction(this)">-->
<!--                            <i class="fas fa-trash-alt"></i>-->
<!--                        </button>-->
<!--                        <button class="btn btn-primary btn-sm edit" type="button" title="Sửa"-->
<!--                            data-id="${bill.id}"-->
<!--                            data-name="${bill.name}"-->
<!--                            data-code="${bill.code}"-->
<!--                            data-employee="${bill.employeeId}"-->
<!--                            data-product="${bill.productId}"-->
<!--                            data-phone="${bill.phone}"-->
<!--                            data-address="${bill.address}"-->
<!--                            data-created="${formattedCreatedDate}"-->
<!--                            data-quantity="${bill.quantity}"-->
<!--                            data-price="${bill.price}"-->
<!--                            data-toggle="modal"-->
<!--                            data-target="#ModalUP">-->
<!--                            <i class="fas fa-edit"></i>-->
<!--                        </button>`-->
<!--                    ];-->
<!--                    table.row.add(row);-->
<!--                });-->

<!--                table.draw();-->
<!--            })-->
<!--            .catch(error => {-->
<!--                console.error('Error loading employees:', error);-->
<!--            });-->
<!--    }-->

<!--    $(document).ready(function () {-->
<!--        // Khởi tạo DataTable nếu chưa có-->
<!--        if (!$.fn.DataTable.isDataTable('#sampleTable')) {-->
<!--            $('#sampleTable').DataTable();-->
<!--        }-->

<!--        // Gọi hàm load danh sách khi trang sẵn sàng-->
<!--        loadEmployees();-->

<!--        // Bắt sự kiện click nút "Chỉnh sửa" bằng event delegation-->
<!--        $(document).on('click', '.edit', function () {-->
<!--            currentEmployeeId = $(this).data('id');-->
<!--            $('#edit-code').val($(this).data('code'));-->
<!--            $('#edit-name').val($(this).data('name'));-->
<!--            $('#edit-phone').val($(this).data('phone'));-->
<!--            $('#edit-product').val($(this).data('productName'));-->
<!--            $('#edit-employee').val($(this).data('employeeName'));-->
<!--            $('#edit-quantity').val($(this).data('quentity'));-->
<!--            $('#edit-address').val($(this).data('address'));-->
<!--            $('#edit-position').val($(this).data('position'));-->
<!--        });-->

<!--        // Bắt sự kiện click nút "Lưu lại"-->
<!--        $('#save-button').on('click', function () {-->
<!--            const updatedEmployee = {-->
<!--                code: $('#edit-code').val(),-->
<!--                name: $('#edit-name').val(),-->
<!--                phone: $('#edit-phone').val(),-->
<!--                email: $('#edit-email').val(),-->
<!--                birth: $('#edit-birth').val(),-->
<!--                sex: $('#edit-sex').val(),-->
<!--                address: $('#edit-address').val(),-->
<!--                position: $('#edit-position').val()-->
<!--            };-->

<!--            $.ajax({-->
<!--                url: `/api/employee/${currentEmployeeId}`,-->
<!--                type: 'PUT',-->
<!--                contentType: 'application/json',-->
<!--                data: JSON.stringify(updatedEmployee),-->
<!--                success: function (response) {-->
<!--                    console.log("RESPONSE:", response);-->
<!--                    if (response.status === 'success') {-->
<!--                        swal("Cập nhật thông tin thành công!");-->
<!--                        $('#ModalUP').modal('hide');-->
<!--                        loadEmployees(); // Load lại danh sách sau khi cập nhật-->
<!--                    } else {-->
<!--                        swal("Cập nhật thất bại. Vui lòng thử lại!");-->
<!--                        console.error("Server Response Status: ", response.status);-->
<!--                    }-->
<!--                },-->
<!--                error: function (xhr, status, error) {-->
<!--                    console.error("Lỗi khi cập nhật:", error);-->
<!--                    swal("Đã có lỗi xảy ra khi cập nhật thông tin.");-->
<!--                }-->
<!--            });-->
<!--        });-->
<!--    });-->
<!--</script>-->
<script src="https://cdnjs.cloudflare.com/ajax/libs/xlsx/0.18.5/xlsx.full.min.js"></script>

</body>

</html>