<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Báo cáo | Quản trị Admin</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Main CSS-->
    <link rel="stylesheet" type="text/css" th:href="@{/assets/css/main1.css}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/boxicons@latest/css/boxicons.min.css">
    <!-- or -->
    <link rel="stylesheet" href="https://unpkg.com/boxicons@latest/css/boxicons.min.css">
    <!-- Font-icon css-->
    <link rel="stylesheet" type="text/css"
          href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/sweetalert/2.1.2/sweetalert.min.js"></script>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-confirm/3.3.2/jquery-confirm.min.css">

</head>

<body onload="time()" class="app sidebar-mini rtl">
<!-- Navbar-->
<div th:replace="~{admin/template/header :: header}"></div>

<!-- Sidebar menu-->
<div th:replace="~{admin/template/sidebar :: sidebar}"></div>

<main class="app-content">
    <div class="row">
        <div class="col-md-12">
            <div class="app-title">
                <ul class="app-breadcrumb breadcrumb">
                    <li class="breadcrumb-item"><a href="#"><b>Báo cáo doanh thu </b></a></li>
                </ul>
                <div id="clock"></div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            <div class="widget-small primary coloured-icon"><i class='icon bx bxs-user fa-3x'></i>
                <div class="info">
                    <h4>Tổng Nhân viên</h4>
                    <p><b id="employee">Loading...</b></p>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="widget-small info coloured-icon"><i class='icon bx bxs-purchase-tag-alt fa-3x'></i>
                <div class="info">
                    <h4>Tổng sản phẩm</h4>
                    <p><b id="total-products">Loading...</b></p>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="widget-small warning coloured-icon"><i class='icon fa-3x bx bxs-shopping-bag-alt'></i>
                <div class="info">
                    <h4>Tổng hóa đơn</h4>
                    <p><b id="bill">Loading...</b></p>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-4">
            <div class="widget-small primary coloured-icon"><i class='icon fa-3x bx bxs-chart'></i>
                <div class="info">
                    <h4>Tổng thu nhập</h4>
                    <p><b id="totalRevenue">Loading...</b></p>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="widget-small info coloured-icon"><i class='icon fa-3x bx bxs-user-badge'></i>
                <div class="info">
                    <h4>Nhân viên mới</h4>
                    <p><b id="newEmployeeCount">Loading...</b></p>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="widget-small warning coloured-icon"><i class='icon fa-3x bx bxs-tag-x'></i>
                <div class="info">
                    <h4>Hết hàng</h4>
                    <p id="outOfStockCount"><b>Loading...</b></p>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="tile">
                <div>
                    <h3 class="tile-title">SẢN PHẨM BÁN CHẠY</h3>
                </div>
                <div class="tile-body">
                    <table class="table table-hover table-bordered">
                        <thead>
                        <tr>
                            <th>Mã sản phẩm</th>
                            <th>Tên sản phẩm</th>
                            <th>Giá tiền</th>
                            <th>Hãng xe</th>
                        </tr>
                        </thead>
                        <tbody>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="tile">
                <div>
                    <h3 class="tile-title">TỔNG ĐƠN HÀNG</h3>
                </div>
                <div class="tile-body">
                    <table class="table table-hover table-bordered">
                        <thead>
                        <tr>
                            <th>ID đơn hàng</th>
                            <th>Khách hàng</th>
                            <th>Sản phẩm</th>
                            <th>Số lượng</th>
                            <th>Tổng tiền</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:each="bill : ${bill}">
                            <td th:text="${bill.code}"></td>
                            <td th:text="${bill.name}"></td>
                            <td th:text="${bill.productName}"></td>
                            <td th:text="${bill.quantity}"></td>
                            <td th:text="${#numbers.formatInteger(bill.price, 0, 'COMMA')}"></td>

                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="tile">
                <div>
                    <h3 class="tile-title">SẢN PHẨM ĐÃ HẾT</h3>
                </div>
                <div class="tile-body">
                    <table class="table table-hover table-bordered" id="sampleTable">
                        <thead>
                        <tr>
                            <th>Mã sản phẩm</th>
                            <th>Tên sản phẩm</th>
                            <th>Ảnh</th>
                            <th>Số lượng</th>
                            <th>Tình trạng</th>
                            <th>Giá tiền</th>
                            <th>Danh mục</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td>83826226</td>
                            <td>Tủ ly - tủ bát</td>
                            <td><img src="/img-sanpham/tu.jpg" alt="" width="100px;"></td>
                            <td>0</td>
                            <td><span class="badge bg-danger">Hết hàng</span></td>
                            <td>2.450.000 đ</td>
                            <td>Tủ</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="tile">
                <div>
                    <h3 class="tile-title">NHÂN VIÊN MỚI</h3>
                </div>
                <div class="tile-body">
                    <table class="table table-hover table-bordered">
                        <thead>
                        <tr>
                            <th>Họ và tên</th>
                            <th>Địa chỉ</th>
                            <th>Ngày sinh</th>
                            <th>Giới tính</th>
                            <th>SĐT</th>
                            <th>Chức vụ</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td>Hồ Thị Thanh Ngân</td>
                            <td>155-157 Trần Quốc Thảo, Quận 3, Hồ Chí Minh</td>
                            <td>12/02/1999</td>
                            <td>Nữ</td>
                            <td>0926737168</td>
                            <td>Bán hàng</td>
                        </tr>
                        <tr>
                            <td>Trần Khả Ái</td>
                            <td>6 Nguyễn Lương Bằng, Tân Phú, Quận 7, Hồ Chí Minh</td>
                            <td>22/12/1999</td>
                            <td>Nữ</td>
                            <td>0931342432</td>
                            <td>Bán hàng</td>
                        </tr>
                        <tr>
                            <td>Nguyễn Đặng Trọng Nhân</td>
                            <td>59C Nguyễn Đình Chiểu, Quận 3, Hồ Chí Minh</td>
                            <td>23/07/1996</td>
                            <td>Nam</td>
                            <td>0846881155</td>
                            <td>Dịch vụ</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <div class="tile">
                <h3 class="tile-title">DỮ LIỆU HÀNG THÁNG</h3>
                <div class="embed-responsive embed-responsive-16by9">
                    <canvas class="embed-responsive-item" id="lineChartDemo"></canvas>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="tile">
                <h3 class="tile-title">THỐNG KÊ DOANH SỐ</h3>
                <div class="embed-responsive embed-responsive-16by9">
                    <canvas class="embed-responsive-item" id="barChartDemo"></canvas>
                </div>
            </div>
        </div>
    </div>

    <div class="text-right" style="font-size: 12px">
        <p><b>Hệ thống quản lý V2.0 | Code by Trường</b></p>
    </div>
</main>
<!-- Essential javascripts for application to work-->
<script th:src="@{/assets/vendor/jquery/jquery-3.2.1.min.js}"></script>
<script th:src="@{/assets/js/popper.min.js}"></script>
<script th:src="@{/assets/js/bootstrap.min.js}"></script>
<script th:src="@{/assets/js/main.js}"></script>
<!-- The javascript plugin to display page loading on top-->
<script th:src="@{/assets/js/plugins/pace.min.js}"></script>
<!-- Page specific javascripts-->
<script type="text/javascript" th:src="@{/assets/js/plugins/chart.js}"></script>
<script type="text/javascript">
    var data = {
        labels: ["Tháng 1", "Tháng 2", "Tháng 3", "Tháng 4", "Tháng 5", "Tháng 6", "Tháng 7", "Tháng 8", "Tháng 9", "Tháng 10", "Tháng 11", "Tháng 12"],
        datasets: [{
            label: "Dữ liệu đầu tiên",
            fillColor: "rgba(255, 255, 255, 0.158)",
            strokeColor: "black",
            pointColor: "rgb(220, 64, 59)",
            pointStrokeColor: "#fff",
            pointHighlightFill: "#fff",
            pointHighlightStroke: "green",
            data: [20, 59, 90, 51, 56, 100, 40, 60, 78, 53, 33, 81]
        },
            {
                label: "Dữ liệu kế tiếp",
                fillColor: "rgba(255, 255, 255, 0.158)",
                strokeColor: "rgb(220, 64, 59)",
                pointColor: "black",
                pointStrokeColor: "#fff",
                pointHighlightFill: "#fff",
                pointHighlightStroke: "green",
                data: [48, 48, 49, 39, 86, 10, 50, 70, 60, 70, 75, 90]
            }
        ]
    };


    var ctxl = $("#lineChartDemo").get(0).getContext("2d");
    var lineChart = new Chart(ctxl).Line(data);

    var ctxb = $("#barChartDemo").get(0).getContext("2d");
    var barChart = new Chart(ctxb).Bar(data);
</script>
<!-- Google analytics script-->
<script type="text/javascript">
    if (document.location.hostname == 'pratikborsadiya.in') {
        (function (i, s, o, g, r, a, m) {
            i['GoogleAnalyticsObject'] = r;
            i[r] = i[r] || function () {
                (i[r].q = i[r].q || []).push(arguments)
            }, i[r].l = 1 * new Date();
            a = s.createElement(o),
                m = s.getElementsByTagName(o)[0];
            a.async = 1;
            a.src = g;
            m.parentNode.insertBefore(a, m)
        })(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');
        ga('create', 'UA-72504830-1', 'auto');
        ga('send', 'pageview');
    }
</script>
<script>
    document.addEventListener("DOMContentLoaded", function () {
        fetch("/api/employee/getAllEmployee")
            .then(response => response.json())
            .then(data => {
                document.getElementById("employee").innerText = data.count + " Nhân viên";
            })
            .catch(error => {
                console.error("Lỗi khi lấy tổng nhân viên:", error);
            });
    });
    document.addEventListener("DOMContentLoaded", function () {
        fetch("/api/product/getAllProduct")
            .then(response => response.json())
            .then(data => {
                document.getElementById("total-products").innerText = data.count + " Sản phẩm";
            })
            .catch(error => {
                console.error("Lỗi khi lấy tổng sản phẩm:", error);
            });
    });
    document.addEventListener("DOMContentLoaded", function () {
        fetch("/api/bill/getAllBill")
            .then(response => response.json())
            .then(data => {
                document.getElementById("bill").innerText = data.count + " Hóa đơn";
            })
            .catch(error => {
                console.error("Lỗi khi lấy tổng hóa đơn:", error);
            });
    });

    async function fetchTotalRevenue() {
        try {
            let response = await fetch('/api/bill/total-revenue');
            let totalRevenue = await response.json();
            document.getElementById('totalRevenue').innerText = totalRevenue.toLocaleString('vi-VN') + " đ";
        } catch (error) {
            console.error("Lỗi khi lấy tổng doanh thu:", error);
        }
    }

    fetchTotalRevenue();
</script>
<script>
    document.addEventListener("DOMContentLoaded", function () {
        fetch("/api/product/popular")
            .then(response => response.json())
            .then(data => {
                let tbody = document.querySelector("table tbody");
                tbody.innerHTML = ""; // Xóa dữ liệu cũ

                data.forEach(product => {
                    let row = `
                    <tr>
                        <td>${product.id}</td>
                        <td>${product.name}</td>
                        <td>${new Intl.NumberFormat('vi-VN', {
                        style: 'currency',
                        currency: 'VND'
                    }).format(product.price)}</td>
                        <td>${product.manufacturerName || "Không có thông tin"}</td>
                    </tr>
                `;
                    tbody.innerHTML += row;
                });
            })
            .catch(error => console.error("Lỗi khi tải dữ liệu:", error));
    });

    function loadOutOfStockCount() {
        fetch('/api/product/getAllProduct')
            .then(response => response.json())
            .then(result => {
                const products = result.data;

                // Đếm số lượng sản phẩm có quantity = 0
                const outOfStockCount = products.filter(product => product.quantity === 0).length;

                // Cập nhật số lượng sản phẩm hết hàng trên giao diện
                document.getElementById('outOfStockCount').innerHTML = `<b>${outOfStockCount} sản phẩm</b>`;
            })
            .catch(error => {
                console.error('Lỗi khi tải danh sách sản phẩm:', error);
            });
    }

    // Gọi hàm khi trang được tải
    document.addEventListener('DOMContentLoaded', loadOutOfStockCount);

    function loadRecentEmployees() {
        fetch('/api/employee/getAllEmployee')
            .then(response => response.json())
            .then(result => {
                const employees = result.data;

                // Lấy ngày hôm nay và hôm qua theo định dạng yyyy-MM-dd
                const today = new Date();
                const yesterday = new Date();
                yesterday.setDate(today.getDate() - 1);

                const formattedToday = today.toISOString().split('T')[0];
                const formattedYesterday = yesterday.toISOString().split('T')[0];

                // Lọc nhân viên có createdDate là hôm nay hoặc hôm qua
                const newEmployeeCount = employees.filter(employee =>
                    employee.createdDate === formattedToday || employee.createdDate === formattedYesterday
                ).length;

                // Cập nhật giao diện với số lượng nhân viên mới
                document.getElementById('newEmployeeCount').innerHTML = `<b>${newEmployeeCount} nhân viên</b>`;
            })
            .catch(error => {
                console.error('Lỗi khi tải danh sách nhân viên:', error);
            });
    }

    // Gọi hàm khi trang tải xong
    document.addEventListener('DOMContentLoaded', loadRecentEmployees);


</script>
<script type="text/javascript">
    //Thời Gian
    function time() {
        var today = new Date();
        var weekday = new Array(7);
        weekday[0] = "Chủ Nhật";
        weekday[1] = "Thứ Hai";
        weekday[2] = "Thứ Ba";
        weekday[3] = "Thứ Tư";
        weekday[4] = "Thứ Năm";
        weekday[5] = "Thứ Sáu";
        weekday[6] = "Thứ Bảy";
        var day = weekday[today.getDay()];
        var dd = today.getDate();
        var mm = today.getMonth() + 1;
        var yyyy = today.getFullYear();
        var h = today.getHours();
        var m = today.getMinutes();
        var s = today.getSeconds();
        m = checkTime(m);
        s = checkTime(s);
        nowTime = h + " giờ " + m + " phút " + s + " giây";
        if (dd < 10) {
            dd = '0' + dd
        }
        if (mm < 10) {
            mm = '0' + mm
        }
        today = day + ', ' + dd + '/' + mm + '/' + yyyy;
        tmp = '<span class="date"> ' + today + ' - ' + nowTime +
            '</span>';
        document.getElementById("clock").innerHTML = tmp;
        clocktime = setTimeout("time()", "1000", "Javascript");

        function checkTime(i) {
            if (i < 10) {
                i = "0" + i;
            }
            return i;
        }
    }
</script>

</body>

</html>