    <!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" >

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link href="https://fonts.googleapis.com/css?family=Poppins:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i&display=swap" rel="stylesheet">

      <title>CAR DEALER WEBSITE</title>

    <link rel="stylesheet" type="text/css" th:href="@{assets/css/bootstrap.min.css}">

    <link rel="stylesheet" type="text/css" th:href="@{assets/css/font-awesome.css}">

    <link rel="stylesheet" th:href="@{assets/css/style.css}">

    </head>
    
    <body>
    
    <!-- ***** Preloader Start ***** -->
    <div id="js-preloader" class="js-preloader">
      <div class="preloader-inner">
        <span class="dot"></span>
        <div class="dots">
          <span></span>
          <span></span>
          <span></span>
        </div>
      </div>
    </div>
    <!-- ***** Preloader End ***** -->
    
    
    <!-- ***** Header Area Start ***** -->
    <div th:replace="~{client/include/header :: header}"></div>

    <!-- ***** Header Area End ***** -->

    <section class="section section-bg" id="call-to-action" th:style="|background-image: url('@{assets/images/banner-image-1-1920x500.jpg}')|">
        <div class="container">
            <div class="row">
                <div class="col-lg-10 offset-lg-1">
                    <div class="cta-content">
                        <br>
                        <br>
                        <h2 style="font-family: 'Roboto', sans-serif; font-weight: bold">Tin tức <em>xe</em></h2>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- ***** Blog Start ***** -->
    <section class="section" id="our-classes">
        <div class="container">
            <br>
            <br>
            <div class="row">
                <div class="col-lg-8">
                    <section class='tabs-content'>
                      <article>
                        <img th:src="@{assets/images/hyundai.jpg}" alt="">
                        <h4>Mẫu SUV điện mới của Hyundai
                            được hé lộ qua những hình ảnh teaser gần đây.</h4>

                        <p><i class="fa fa-user"></i> John Doe &nbsp;|&nbsp; <i class="fa fa-calendar"></i> 27.01.2025 5:20</p>

                        <p>Hyundai đang chuẩn bị ra mắt một mẫu SUV chạy hoàn
                            toàn bằng điện, được thiết kế đặc biệt cho
                            thị trường Trung Quốc. Mẫu xe mới này là sản phẩm của liên doanh Hyundai Bắc Kinh và hiện
                            vẫn chưa được đặt tên chính thức. Mới đây, hãng đã tung ra những hình ảnh teaser đầu tiên của
                            mẫu xe này trước khi chính thức ra mắt dự kiến vào cuối năm nay.</p>
                        <div class="main-button" style="font-family: 'Roboto', sans-serif; font-weight: bold">
                            <a href="https://autopro.com.vn/hyundai-nha-hang-suv-la-co-the-la-ioniq-4-dang-bo-tron-den-hau-3d-uon-cong-khac-han-ioniq-5-dang-ban-tai-viet-nam-177250328161924555.chn">Tiếp tục đọc</a>
                        </div>
                      </article>

                      <br>
                      <br>

                      <article>
                        <img th:src="@{assets/images/karoq.jpg}" alt="">
                        <h4>Skoda Karoq được hãng mạnh tay ưu đãi, tạo "lực đẩy" cho Kushaq sắp ra mắt</h4>
                        <p><i class="fa fa-user"></i> John Doe &nbsp;|&nbsp; <i class="fa fa-calendar"></i> 01/04/2025 10:10</p>
                        <p>heo đó, Skoda Karoq hiện đang được hãng ưu đãi 100% lệ phí trước bạ, tương đương với ưu đãi
                            tiền mặt từ 100 - 130 triệu đồng (tùy phiên bản và tỉnh, thành đăng ký). Tại Việt Nam, Skoda
                            Karoq đang được bán ra với hai phiên bản là Ambition giá 999 triệu đồng và Style giá 1,089 tỷ đồng.
                            Ngoài ưu đãi về tài chính, Skoda Việt Nam còn tặng khách hàng bộ phụ kiện nâng cấp chính hãng
                            nhập khẩu từ Châu Âu, bao gồm: 4 la-zăng thể thao, ốp bàn đạp ga/phanh, ốp cửa xe, bậc bước
                            chân hai bên và thảm sàn. Đồng thời, khách hàng mua xe trong tháng 4
                            sẽ được hưởng gói bảo hành 5 năm hoặc 150.000 km và miễn phí bảo dưỡng 1 năm hoặc 15.000 km,
                            tùy điều kiện nào đến trước.</p>
                        <div class="main-button" style="font-family: 'Roboto', sans-serif; font-weight: bold">
                            <a href="https://xehay.vn/skoda-karoq-duoc-hang-manh-tay-uu-dai-tao-luc-day-cho-kushaq-sap-ra-mat.html">Tiếp tục đọc</a>
                        </div>
                      </article>

                      <br>
                      <br>

                      <article>
                        <img th:src="@{assets/images/slavia.jpg}" alt="">
                        <h4>Đại lý nhận cọc Skoda Slavia: Sedan cỡ B mới "đối đầu" Toyota Vios</h4>
                        <p><i class="fa fa-user"></i> John Doe &nbsp;|&nbsp; <i class="fa fa-calendar"></i> 08/04/2025 16:10</p>
                          <p>Mới đây, một số đại lý Skoda tại Việt Nam đã thông báo nhận cọc mẫu sedan Slavia. Theo tư vấn bán hàng,
                              Skoda Slavia dự kiến sẽ chính thức trình làng trong khoảng tháng 5 hoặc tháng 6 năm nay, với hình t
                              hức lắp ráp trong nước. Mặc dù Skoda Việt Nam chưa đưa ra xác nhận chính thức, nhưng trước đó, hồi tháng 3/2025, hãng từng đăng tải hình ảnh
                              khuôn viên nhà máy nội địa với sự xuất hiện của cả Slavia lẫn Kushaq – hai mẫu xe đầu tiên
                              được nội địa hóa tại Việt Nam. Skoda Slavia sẽ gia nhập phân khúc vốn đang rất sôi động với những cái tên quen thuộc như Toyota Vios, Hyundai Accent hay Honda City. Trong đó, Vios hiện là mẫu xe bán chạy nhất phân khúc.
                              Cũng giống như các đối thủ, Slavia sẽ được lắp ráp tại Việt Nam, hứa hẹn tạo lợi thế về giá.</p>
                        <div class="main-button" style="font-family: 'Roboto', sans-serif; font-weight: bold">
                            <a href="https://xehay.vn/dai-ly-nhan-coc-skoda-slavia-sedan-co-b-moi-doi-dau-toyota-vios.html">Tiếp tục đọc</a>
                        </div>
                      </article>
                    </section>
                </div>

                <div class="col-lg-4">

                    <h5 class="h5">Recent posts</h5>

                    <ul>
                        <li style="font-family: 'Roboto', sans-serif">
                            <p><a href="https://xehay.vn/du-doan-thiet-ke-toyota-corolla-cross-the-he-moi-co-nhieu-diem-chung-voi-camry.html">Dự đoán thiết kế Toyota Corolla Cross thế hệ mới: Có nhiều điểm chung với Camry</a></p>
                            <small><i class="fa fa-user"></i> Hoang Sinh &nbsp;|&nbsp; <i class="fa fa-calendar"></i> 08/04/2025 13:12</small>
                        </li>

                        <li><br></li>

                        <li style="font-family: 'Roboto', sans-serif">
                            <p><a href="https://xehay.vn/honda-hr-v-2025-chinh-thuc-ra-mat-viet-nam-gia-tu-699-trieu-dong-53750.html">Honda HR-V 2025 chính thức ra mắt Việt Nam: Giá từ 699 triệu đồng</a></p>
                            <small><i class="fa fa-user"></i> Hoang Sinh &nbsp;|&nbsp; <i class="fa fa-calendar"></i> 04/04/2025 10:34</small>
                        </li>

                        <li><br></li>

                        <li style="font-family: 'Roboto', sans-serif">
                          <p><a href="https://xehay.vn/toyota-land-cruiser-2025-cap-ben-viet-nam-khach-chap-nhan-kem-lac-de-nhan-xe-som.html">Toyota Land Cruiser 2025 "cập bến" Việt Nam: Khách chấp nhận "kèm lạc" để nhận xe sớm</a></p>

                          <small><i class="fa fa-user"></i> Hoang Sinh &nbsp;|&nbsp; <i class="fa fa-calendar"></i> 02/04/2025 10:09</small>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
    <!-- ***** Blog End ***** -->

    <!-- ***** Footer Start ***** -->
    <div th:replace="~{client/include/footer:: footer}"></div>


    <!-- jQuery -->
    <script th:src="@{assets/js/jquery-2.1.0.min.js}"></script>

    <!-- Bootstrap -->
    <script th:src="@{assets/js/popper.js}"></script>
    <script th:src="@{assets/js/bootstrap.min.js}"></script>

    <!-- Plugins -->
    <script th:src="@{assets/js/scrollreveal.min.js}"></script>
    <script th:src="@{assets/js/waypoints.min.js}"></script>
    <script th:src="@{assets/js/jquery.counterup.min.js}"></script>
    <script th:src="@{assets/js/imgfix.min.js}"></script>
    <script th:src="@{assets/js/mixitup.js}"></script>
    <script th:src="@{assets/js/accordions.js}"></script>
    
    <!-- Global Init -->
    <script th:src="@{assets/js/custom.js}"></script>

  </body>
</html>