<!doctype html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Coron - Fashion eCommerce</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Favicon -->
    <link rel="shortcut icon" type="image/x-icon" href= "/assets/img/favicon.png">

    <!-- all css here -->
    <link rel="stylesheet" href= "/assets/css/bootstrap.min.css">
    <link rel="stylesheet" href= "/assets/css/plugin.css">
    <link rel="stylesheet" href= "/assets/css/bundle.css">
    <link rel="stylesheet" href= "/assets/css/style.css">
    <link rel="stylesheet" href="/assets/css/responsive.css">
    <script src="/assets/js/vendor/modernizr-2.8.3.min.js"></script>
</head>
<body>
<header th:replace="client/include/header :: header"></header>

<div th:replace="client/include/content :: content"></div>

<footer th:replace="client/include/footer :: footer"></footer>


<script src="/assets/js/vendor/jquery-1.12.0.min.js"></script>
<script src="/assets/js/popper.js"></script>
<script src="/assets/js/bootstrap.min.js"></script>
<script src="/assets/js/ajax-mail.js"></script>
<script src="/assets/js/plugins.js"></script>
<script src="/assets/js/main.js"></script>
</body>
</html>
